.tasks__item {
  border-bottom: 2px solid rgba(var(--primary), .5);
  border-top: 2px solid rgba(var(--primary), .5);
  margin-bottom: .5rem;
  margin-top: .5rem;
  cursor: pointer;
  width: 100%;
  background: rgb(var(--accent));
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  transition: opacity 0.2s ease;

  & > span {
    color: rgb(var(--background));
    width: 100%;
  }

  & > button {
    background-color: rgb(var(--secondary));
    color: rgb(var(--text));
    padding: 0.5rem;
    line-height: 0;
    aspect-ratio: 1/1;
    border-radius: 100%;
    font-size: 1.25rem;

    &:hover {
      background-color: rgb(var(--primary));
    }
  }

  &-dragging {
    opacity: 0.5 !important;
  }
}

.tasks__container {
  display: flex;
  gap: .5rem;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.tasks__list {
  & > h2 {
    text-align: center;
    padding: 0.5rem 0;
    border-bottom: 2px solid rgba(var(--accent), .5);
  }

  width: 100%;
  min-height: 300px;
  background: rgb(var(--secondary));
}

.tasks__edit-modal {
  & label {
    margin-bottom: .5rem;
  }

  & .modal__actions {
    display: flex;
    gap: 0.5rem;

    & button {
      width: 100%;
    }
  }
}
